# Standard Unity gitignore
# =========================

Library/
Temp/
Logs/
*.log
*.sln
*.csproj
*.user
*.userprefs
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.mojom
*.orig

# VS Code
.vscode/

# JetBrains Rider
.idea/
*.sln.iml

# macOS
.DS_Store

# Windows
Thumbs.db

# Builds
Build/
Builds/

# Benchmark reports
Benchmark/

# Coverage
Coverage/

# Memory snapshot
MemoryCaptures/

# Profiler
ProfilerBurstCompiledAssemblies/

# Asset Store tools
AssetStoreTools/

# User Settings
UserSettings/
